/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.idea
Session.vim
.clj-kondo/
.lsp/
.env
.venv/
.cpcache/
src/clojure_scraps/work
work/
out-files/
