{
  :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
               "clojars" {:url "https://repo.clojars.org/"}}
  
  :paths ["src", "resources", "target"]
  
  :deps {org.clojure/clojure {:mvn/version "1.12.0-alpha4"}
         telegrambot-lib/telegrambot-lib {:mvn/version "2.9.0"}
         cheshire/cheshire {:mvn/version "5.11.0"}
         environ/environ {:mvn/version "1.2.0"}
         org.clojure/tools.logging {:mvn/version "1.2.4"}
         com.cognitect.aws/api {:mvn/version "0.8.656"}
         com.cognitect.aws/endpoints {:mvn/version "1.1.12.437"}
         com.cognitect.aws/sns {:mvn/version "836.2.1323.0"}
         com.cognitect.aws/lambda {:mvn/version "845.2.1359.0"}
         com.cognitect.aws/dynamodb {:mvn/version "845.2.1345.0"}
         com.cognitect.aws/secretsmanager {:mvn/version "845.2.1345.0"}
         danlentz/clj-uuid {:mvn/version "0.1.9"}
         clj-http/clj-http {:mvn/version "3.12.3"} 
         org.ta4j/ta4j-core {:mvn/version "0.15"}}

  :aliases {:dev/env {:extra-paths ["dev"]}}  
}
